.card3 {
    margin-top: 10px;
    margin-left: 40px;
    width: 1240px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
    color: black;
  }
  .custom-dropdown {
    color: black; 
  }
  

  .dropdown-container {
    margin-bottom: 10px;
  }
  
  .folder-input {
    margin-bottom: 10px;
  }
  
