.card {
  margin-top: 5px;
  margin-left: 40px;
  width: 360px;
  font-size: larger;
  font-weight: 450;
  height: 60px;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(41, 21, 97, 0.842);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-left: 20px;
  }
}
