.card2 {
    margin-top: 5px;
    margin-left: 40px;
    width: 580px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: inline-block;
  }

  .word-cloud {
    object-fit:scale-down;
    margin-left: 0px;
    width:inherit;
    height: inherit;
  }

  .chart{
    object-fit:scale-down;
    margin-left: 130px;
    width:inherit;
    height: inherit;
  }