*{
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #08090b;
}

.card3 {
  /* font-family: Times, "Times New Roman", Georgia, serif; */
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
  /* font-family: "Lucida Console", Courier, monospace; */
  font-family: "Goudy Bookletter 1911", sans-serif;
  /* margin-top: 10px; */
  margin-left: 40px;
  width: 1240px;
  height: 500px;
  /* background-color: rgb(255, 250, 250); */
  /* background-color: rgb(201, 180, 234); */
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(41, 21, 97, 0.842);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  /* display: inline-block; */
  flex-direction: column;
  align-items: center;
}

.custom-dropdown {
  background: rgb(167, 167, 224); 
 /* background: rgb(167, 167, 224);   */
  margin-top: 80px;
  /* color: white; */
  margin-right: 700px;
  width: 300px;
  height: 50px; 
  text-align: center;
  border-radius: 19px;
  /* border: 1px solid rgb(217, 217, 246); */
  box-shadow: 0 4px 8px 0 rgba(41, 21, 97, 0.842);
  
  
}

.dropdown-container {
  margin-bottom: 10px;
  margin-left: -190px;
  /*width: 90%;*/
  
}

.folder-input {
  margin-bottom: 10px;
  color: black;
}

.card2-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card2-wrapper2{
  width: 80px;
  display: flex;
  justify-content: flex-end;
}


.grey-card {
  margin-left: 300px;
  margin-top: -170px;
  height: 455px;
  width: 800px;
  background-color: grey;
  padding: 20px;
  border-radius: 8px;
}

.Filename-card{
  background-color: aquamarine;
}



.data-display {
  /* border: 2px solid #2c3e50;  */
  margin-top: -110px;
  margin-left: 400px;
  height: 600px;
  width: 800px;
  /* background: linear-gradient(to right, #030404, #2D374A);  */
  background-color: rgb(215, 215, 246);
  color: #08090b;
  box-shadow: 0 4px 8px rgba(3, 2, 31, 0.629);
  border-radius: 10px;
  /* padding: 20px;  */
  /* color: black; */
  overflow: auto;
  
}


.data-display h4{
  color: black;
  text-align: center;
  font-size: 25px;
  
}

/* #name-diplay{
  border: 2px solid #2c3e50; 
  color: #f1f6fa; 
  margin-top: -390px;
  margin-right: 800px;
  height: 100px;
  width: 150px;
  background: linear-gradient(to right, #576174, #2D374A); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px; 
  

} */

#file-info{
  position: absolute;
  /* border: 2px solid #2c3e50; */
  box-shadow: 0 4px 8px rgba(3, 2, 31, 0.629);
  /* color: white; */
  left: 70px;
  height: 80px;
  width: 350px; 
  background: rgb(167, 167, 224);  
  top: 760px;
  border-radius: 10px;
  text-align: center;
 
}

#file-info2{
  position: absolute;
  /* border: 2px solid #2c3e50; */
  /* color: white; */
  left: 70px;
  height: 80px;
  width: 350px; 
  background: rgb(167, 167, 224);  
  box-shadow: 0 4px 8px rgba(3, 2, 31, 0.629);
  top: 900px;
  border-radius: 10px;
  text-align: center;
 
}

.folderName{
  margin-right: 10px;
}
