.card3 {
  /* margin-top: 10px; */
  margin-left: 40px;
  width: 1240px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
  color: black;
}

.custom-dropdown {
  background-color: #576174;
  margin-top: 30px;
  color: black;
  margin-left: -63px;
  width: 300px;
  height: 50px;
  text-align: center;
  border-radius: 19px;
}

.dropdown-container {
  margin-bottom: 10px;
  margin-left: -190px;
}

.folder-input {
  margin-bottom: 10px;
  color: black;
}

.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container {
  color: rgba(218, 12, 12, 0.891);
  width: 90%;
  /* margin-top: 10px; */
}

.card2-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card2-wrapper2{
  width: 80px;
  display: flex;
  justify-content: flex-end;
}

.blue-card{
  margin-top: -300px;
  margin-right: 290px;
  height: 200px;
  width: 320px;
  background-color: #2D374A;
  padding: 20px;
  border-radius: 18px;

}

.grey-card {
  margin-left: 300px;
  margin-top: -170px;
  height: 455px;
  width: 800px;
  background-color: grey;
  padding: 20px;
  border-radius: 8px;
}

.Filename-card{
  background-color: aquamarine;
}

