*{
    color: white;
}

body{
    background-color: rgb(1, 1, 78);
}

hr{
    margin-top: 45px;
}

.text{
    position: absolute;
    left: 30px;
    margin-top: -30px;
}

.navbar{
    position:sticky;
}