*{
    color: white;
    font-family: "popins";
}

body{
    /* background-color: rgb(218, 183, 248); */
    background: rgb(31, 21, 95);
  
}

hr{
    margin-top: 45px;
}

.text{
    position: absolute;
    color: white;
    left: 500px;
    margin-top:-40px;
}

.navbar{
    position:sticky;
}