.Background-color{
  background: url('./Images/BackgroundImg.png');
   /* background: url('./Images/New_bg_img.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #576174;
  color: white;
  font-size: 2rem;
  z-index: 1000;
}
