*{
  margin: 0;
  padding: 0;
}
.Background{
    /* background: url('./Images/BackgroundImg.png'); */
    /* background: url('./Images/Mainbackground.png'); */
    /* background: url('./Images/Mainbackground2.png'); */
    background: grey;
}

  .card2-container {
    display: flex;
    gap: 10px; 
  }
